@charset "utf-8";
html{
}
body{
}
/* header */
header{
    background:#186AC9;
}

/* main content */
#row{
    display: flex;
    flex-flow: row wrap;
}
#container{
    flex: 0 0 80%;
}
#side-bar{
    flex: 0 0 19.5%;
    min-height: 100vh;
    border-left: 1px solid #727272;
}


/* ↑初期実装↑ */
/* =========================================================================================== */
/* ↓追記実装↓ */
/* ================================================================ */
/* 共通項 */
/* ================================================================ */
body{
    font-size: 1rem;
}
.text-button{
    width: 170px;
    height: 45px;
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
    line-height: 40px;
    letter-spacing: -0.1rem;
    color: white;
    background-color: #186AC9;
    border: 2px solid #186AC9;
    border-radius: 8px 8px 8px 8px;
    cursor: pointer;
}
.text-button:hover{
    filter: brightness(1.2);
}
.text-button a:link,.text-button a:visited{
    color: white;
}
.red-button{
    background-color: #FF3355;
    border: 2px solid #FF3355;
}
.skyblue-button{
    background-color: rgb(70, 170, 230);
    border: 2px solid rgb(70, 170, 230);
}
.red2-button{
    background-color: red;
    border: 2px solid red;
}
.red-button:hover{
    filter: brightness(1.2);
}
/* ------------------------------------------------------------ */
/* post table */
.post-list{
}
.post-list-left-space{
    width: 12.5%;
}
.post-block{
    list-style:none;
    border-bottom:2px solid rgb(220, 220, 220);
    display:flex;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .post-content{
    width:100%;
    padding:15px;
  }
  .post-content > div{
    display:flex;
    justify-content:space-between;
  }
  .post-name{
    position: relative;
    font-size: 1.2rem;
    font-weight: bold;
    top: -10px;
    margin-bottom:15px;
  }
  .post-time{
      margin-right: 20px;
      font-size: 1.1rem;
  }
  .post{
      font-size: 1.1rem;
  }
/* -----button CSSリセット------------------------------ */
.button-reset {
    height: 60px;
    width: auto;
    padding:0;
    margin:0;
    background:none;
    border:0;
    font-size:0;
    line-height:0;
    overflow:visible;
    cursor:pointer;
}
  button img {
    display: block;
  }

/* ================================================================ */
/* header,menu */
/* ================================================================ */

/* login.blade */
header{
    /* padding: 0 10px 0 10px; */
}
#head{
    display: flex;
    height: 50px;
    padding:  30px 30px 30px 30px;
    justify-content: space-between;
}
#menu{
    display: flex;
    position: relative;
    top: -10%;
}


.logo{
    height: 100%;
    /* object-fit: contain; */
}
.header-name,.acd-label{
    padding: 8% 15px 0px 15px;
    color: white;
    font-weight: bold;
    font-size: 1.6rem;
}
.hide{
    display: none;
}
.acd-trigger{
    display: none;
}
.acd-label{
    display: block;
    font-size: 1.4rem;
    font-weight: bold;
    cursor: pointer;
}
.accordion-menu{
    display: block;
    position: absolute;
    width: 380px;
    top: 84px;
    right: -30px;
    transition: 0s;
    visibility: hidden;
}
.acd-trigger:checked + .acd-label + .accordion-menu{
    height: 40px;
    visibility: visible;
}
.menu-list{
    position: relative;
    height: 50px;
    line-height: 50px;
    font-size: 2.0rem;
    letter-spacing: 0.1rem;
    text-align: center;
    padding: 30px 60px 30px 60px;
    border: 1px rgb(30, 30, 140) solid; /*後で色味調整*/
    background-color: white;
    z-index: 3;
    cursor: pointer;
}
.menu-list:hover{
    filter: brightness(1.2);
}
.menu-list a{
    color: grey;
}
.menu-list:nth-child(2n){
    color: white;
    background-color: rgb(30, 30, 140);
}
.menu-list:nth-child(2n):hover{
    filter: brightness(1.2);
}
.menu-list:nth-child(2n) a{
    color: white;
}
.header-icon{
    padding: 0 15px 0 10px;
}


/* ================================================================ */
/* sidebar */
/* ================================================================ */
#side-bar{
    display: flex;
    width: 100%;
}
.side-bar{
    width: 100%;
}

.sb-name{
    font-size: 1.3rem;
    margin: 30px auto 30px 5%;
}

.sb-container{
    display: flexbox;
    border-bottom: 1px solid rgb(220, 220, 220);
    padding-bottom: 50px;
    margin-bottom: 40px;
}
.sb-label{
    display: flex;
    justify-content: space-between;
    margin: 10px 45% 40px 5%;
    font-size: 1.3rem;
}
.list-button{
    position: relative;
    margin: 0 5% 0 auto;
}

.search-button{
    width: 200px;
    margin: auto auto auto auto;
}
/* ================================================================ */
/* index */
/* ================================================================ */
/* 投稿フォーム */
.container{
    /* background-color: grey; */
}
.post-container{
    display: flex;
    height: 12.5vh;
    width: 86%;
    padding: 3% 7% 3% 7%;
    background-color: white;
    border-bottom: 10px solid rgb(220, 220, 220);
}
.post-container form{
    display: flex;
    justify-content: space-between;
    margin-left: 2%;
    width: 100%;
    /* background-color: grey; */
}
.prof-icon{
    height: 65px;
    width: 65px;
    border: #727272 none 1px;
    border-radius: 50px;
}
.post-form{
    display: flex;
    width: 90%;
    align-items: flex-end;
    resize: none;
    border: none;
    font-size: 1.5rem;
}
.post-form::placeholder{
    color: rgb(220, 220, 220);
}
.form-control{
    border: none;
    height: 100%;
    width: 100%;
}

.post-button{
    position: relative;
    left: 15px;
}
.post-button:hover{
    filter: brightness(1.2);
}
.post-button img{
    margin: 0%;
    height: 100%;
    width: 100%;
}
.icon-bg{
    height: 70px;
    width: 70px;
    position: relative;
    border: solid 0.5rem white;
    border-radius: 15px 15px 15px 15px;
}
.delete-icon-bg{
    background-color: red;
}
.delete-icon-bg:hover{
    background-color: #FFF;
}
.post-icon{
    height: 50px;
    width: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%,-50%);
}
.post-icon:hover{
    filter: brightness(1.2);
}
.delete-icon{
    filter: brightness(10);
}
.delete-icon:hover{
    filter: brightness(1);
}
/*------  アップデートフォーム  --------------------------*/
.post-action{
    display: flex;
}
.update-form{
    display: flex;
    position: relative;
    resize: none;
    width: 1025px;
    height: 240px;
    font-size: 1.2rem;
    border: 2px solid rgb(150, 150, 150);
    top: -10%;
}
.update-button{
    display: flex;
    position: absolute;
    height: 60px;
    width: 66px;
    background-color: #FFF;
    border: none;
    left: 88%;
    bottom: 8%;
}
/*------  モーダル機能  --------------------------*/
.modal-main{
    display: none;
}
.modalClose{
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
    z-index: 2;
}
.modal-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1150px;
    height: 420px;
    background-color: white;
    border: 1px solid white;
    border-radius: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 3;
}
.inner-content{
    display: flex;
}

/* ================================================================ */
/* following,followed */
/* ================================================================ */
/* 共通 */
h2{
    font-size: 2.2rem;
    margin-right: 75px;
}
.icon-box{
    position: relative;
    top: -20%;
    width: 750px;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    border: 1px none rgb(220, 220, 220);
    overflow: scroll;
}
.icon-box::-webkit-scrollbar{
    display: none;
}
.in-box{
    padding: 5px 5px 5px 5px;
}


/* ================================================================ */
/* search */
/* ================================================================ */
.search-container{
}
.search-form{
    height: 50px;
    width: 400px;
    font-size: 1.2rem;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 2%;
}
.search-form-button{
    height: 52px;
    width: 52px;
    font-size: 1.6rem;
    border: 0px none black;
    border-radius: 5px;
    background-color: #186AC9;
    position: relative;
    margin: 2% auto auto 20px;
}
.search-form-button:hover{
    filter: brightness(1.2);
}
.search-word{
    height: 50px;
    width: 400px;
    font-size: 1.6rem;
    margin-top: 4%;
}
.search-table{
    position: relative;
    margin-top: 30px;
    margin-left: 30%;
}
.user-list{
    display: flex;
    height: 100px;
}
.search-name{
    font-size: 1.5rem;
    font-weight: bold;
    width: 300px;
    margin: 20px 0px auto 40px;
}
/* Google Material Icons */

.material-symbols-outlined.md-36 {
    font-size: 1.2rem;
    color: #FFF;
    line-height: 1.4;
    font-size: 36px;
}

/* ================================================================ */
/* profile */
/* ================================================================ */
/*ログインユーザー*/
.error_message{
    width: 100%;
}
.error_message li{
    font-size: 1.8rem;
    font-weight: bold;
    color: red;
    text-align: center;
}
.prof-container{
    padding-top: 5%;
    padding-left: 27.5%;
}
.prof-container img{
    position: absolute;
    left: 15%;
}
.prof-list{
}
.prof-item{
    display: flex;
}
.prof-item p{
    width: 300px;
    padding-top: 20px;
    padding-bottom: 60px;
    font-size: 1.8rem;
    padding-right: 20px;
    text-align: left;
}
.prof-form{
    resize: none;
    border: 1px solid rgb(50,50,50);
    background-color: rgb(240,240,240);
    height: 2.6rem;
    width: 500px;
    font-size: 1.5rem;
    line-height: 170%;
}
.prof-submit{
    position: absolute;
    left: 30%;
}
/*他のユーザー*/
.prof-container-other{
    display: flex;
    padding-top: 10px;
    padding-left: 40px;
}
.prof-label{
    width: 450px;
    margin-top: 0.5%;
    margin-left: 3.5%;
}
.prof-label-name{
    font-size: 1.8rem;
    margin-bottom: 40px;
}
.prof-text-area{
    width: 500px;

}
.prof-text-area p{
    font-size: 1.8rem;
    margin-top: 0.5%;
    margin-bottom: 40px;
}
.prof-container-other button{
    position: relative;
    right: -150px;
    bottom: -10px;
    margin: auto 0 0 auto;
}