@charset "utf-8";
html{
}
body{
}
/* header */
header{
    background:#186AC9;
}

/* main content */
#row{
    display: flex;
    flex-flow: row wrap;
}
#container{
    flex: 0 0 80%;
}
#side-bar{
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}


/* ↑初期実装↑ */
/* =========================================================================================== */
/* ↓追記実装↓ */


/* ================================================================ */
/* header,menu */
/* ================================================================ */

/* login.blade */
header{
    /* padding: 0 10px 0 10px; */
}
#head{
    display: flex;
    height: 50px;
    padding:  30px 30px 30px 30px;
    justify-content: space-between;
}
#menu{
    display: flex;
}


.logo{
    height: 100%;
    /* object-fit: contain; */
}
.header-name,.acd-label{
    padding: 8% 15px 0px 15px;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}
.acd-trigger{
    display: none;
}
.acd-label{
    display: block;
}
.accordion-menu{
    display: block;
    position: absolute;
    top: 110px;
    right: 0px;
    transition: 0s;
    visibility: hidden;
}
.acd-trigger:checked + .acd-label + .accordion-menu{
    height: 40px;
    visibility: visible;
}
.menu-list{
    font-size: 2.0rem;
    letter-spacing: 0.1rem;
    text-align: center;
    padding: 30px 60px 30px 60px;
    border: 1px rgb(30, 30, 140) solid; /*後で色味調整*/
    background-color: white;
}
.menu-list a{
    color: grey;
}
.menu-list:nth-child(2n){
    color: white;
    background-color: rgb(30, 30, 140);
}
.menu-list:nth-child(2n) a{
    color: white;
}
.icon{
    padding: 0 15px 0 30px;
}


/* ================================================================ */
/* sidebar */
/* ================================================================ */

.sb-container{
    display: flex;
}

/* ================================================================ */
/* index */
/* ================================================================ */
/* 投稿フォーム */
.container{
    background-color: grey;
}
.post-container{
    display: flex;
    width: 86%;
    padding: 3% 7% 3% 7%;
    background-color: white;
}
.prof-icon{
    height: 65px;
    width: 65px;
}
.form-control{
    border: none;
}
.post-form{
    display: flex;
    height: 120px;
    width: 800px;
}
.post-button{
    height: 60px;
    width: 60px;
}
.post-button img{
    height: 60px;
    width: 60px;
}
